html , body{
    width: 100%;
    margin: 0px;
    height: 100%;
	overflow: hidden;
}

#bgVideo{
	position: fixed;
	top:0;
	left: 0;
	height: 100%;
	width: 100%;
	object-fit: cover;
	z-index: -1;
}

#table{
    background-color: #000000;
    font: "Telegraf UltraLight";
    color: #FFFFFF;
    text-align: center;
    text-shadow: 0px 0px #000000;
}

table, th, td {
  border: 2px solid white;
  border-collapse: collapse;
}
th, td {
  background-color: #000000;
}

.content {
  position: relative;
  top: 0;
  background: #878787;
  color: #f1f1f1;
  width: 100%;
  padding: 4 4 4 0px;
	z-index: 1;
}

  .styled-button {
            color: #ffffff; /* Text color */
            border: 0px solid #878787; /* Border color for the underline */
        }